FAL_KEY=462db58e-b7ae-414c-a1f2-e13b1407982f:c0396c0f0c201a42853473e98855d74f
ELEVENLABS_API_KEY=fd20007e77317dac62c9ba3fed8ac1a7bc9cd0c768a3c1005542ac1c86df5128
OPENROUTER_API_KEY=
DEFAULT_VOICE_ID=
FAL_CREDIT_THRESHOLD=5.00
ELEVENLABS_CHAR_THRESHOLD=10000
ALERT_EMAIL_TO=micbarone1@gmail.com
ALERT_EMAIL_FROM=video.AI.automated.email@gmail.com
ALERT_EMAIL_PASSWORD=videoAI2026
